@charset "UTF-8";

@media screen and (min-width: 100px) and (max-width: 450px) {
    html body {
        overflow-x: hidden; 
    }
    header nav.opções div.mobile-menu-icon {
        display: block;
    }
    header > nav > div:hover {
        border-bottom: none;
    }
    header > nav > div > button:hover {
        cursor: pointer;
    }
    body > main > article > div#info {
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
    }
    div.botão {
        display: flex;
        justify-content: center;
        transform: translate(-27%);
    }
    section#cards {
        width: 80vw;
        justify-content: space-around;
        margin: 50px 0 0px 7%;
    }
    section#cards > div {
        height: 80px;
        border-radius: 20px;
    }
    section#cards img {
        height: 80px;
        width: 80px;
        border-radius: 20px;
    }
    article#pag2 {
        position: relative;
        border-radius: 70px 0px;
    }
    nav.opções > div {
        display: none;
    }
    .nav-item a {
        color: black;
        font-size: 1em;
        font-weight: 600;
    }
    .open {
        display: block;
        justify-content: center;
        padding: 20px;
        width: 150px;
        height: 130px;
        background-color: #F0F0F0;
        border-radius: 30px 0px 10px 30px;
        transform: translate(-22px, -75px);
    }
    header nav.opções div.mobile-menu-icon button img {
        min-width: 40px;
    }
    #js {
        font-size: small;
    }
}
@media screen and (min-width: 450px) and (max-width: 600px){
    html body {
        overflow-x: hidden; 
    }
    header nav.opções div.mobile-menu-icon {
        display: block;
    }
    header > nav > div:hover {
        border-bottom: none;
    }
    header > nav > div > button:hover {
        cursor: pointer;
    }
    body > main > article > div#info {
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 30px;
    }
    div.botão {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        transform: translate(-23%);
    }
    section#cards {
        width: 80vw;
        justify-content: space-around;
        margin: 100px 0 0px 7%;
    }
    section#cards > div {
        height: 122px;
        border-radius: 20px;

    }
    section#cards img {
        height: 120px;
        width: 120px;
        border-radius: 20px;
    }
    article#pag2 {
        position: relative;
        top: 225px;
        border-radius: 70px 0px;
    }
    nav.opções > div {
        display: none;
    }
    

    article#pag2 section#bigcards div#html {
        background-color: rgba(255, 81, 0, 0.658);
        width: 100vw;
        margin: 40px 0;
        border-radius: 30px 0;
    }
    article#pag2 section#bigcards div#css {
        width: 113vw;
        margin: 0px;
        margin-bottom: 30px; 
        border-radius: 30px 0;
    }
    div.img1 {
        display: inline-block;
        width: 400px;
    }
    article#pag2 section#bigcards div.img1 iframe {
        width: 400px;
    }
    div.imgs {
        width: 447px;
        display: inline-block;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 800px){
    html body {
        overflow-x: hidden; 
    }
    nav.opções > div {
        display: none;
    }
    header nav.opções div.mobile-menu-icon {
        display: block;
    }
    header > nav > div:hover {
        border-bottom: none;
    }
    header > nav > div > button:hover {
        cursor: pointer;
    }
    

    body > main > article > div#info {
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 30px;
    }
    div.botão {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        transform: translate(-22%);
    }
    div.img1 {
        display: inline-block;
        width: 445px;
        margin: 0px 25px;
    }
    article#pag2 section#bigcards div.img1 iframe {
        width: 445px;
    }
    section#cards {
        width: 80vw;
        justify-content: space-around;
        margin: 100px 0 0px 7%;
    }
    section#cards > div {
        border-radius: 30px;
        height: 152px;
    }
    section#cards img {
        height: 150px;
        width: 150px;
        border-radius: 30px;
    }
    article#pag2 {
        position: relative;
        top: 195px;
        border-radius: 100px 0px;
    }
    
}

@media screen and (min-width: 800px) and (max-width: 1135px){
    html body {
        overflow-x: hidden; 
    }
    nav.opções > div {
        display: none;
    }
    header nav.opções div.mobile-menu-icon {
        display: block;
    }
    header > nav > div:hover {
        border-bottom: none;
    }
    header > nav > div > button:hover {
        cursor: pointer;
    }
    body > main > article > div#info {
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
    }
    div.botão {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        transform: translate(-22%);
    }
    div.img1 {
        margin: 0px 25px;
        width: 445px;
    }
    article#pag2 section#bigcards div.img1 iframe {
        width: 445px;
    }
    section#cards {
        width: 77vw;
        justify-content: center;
    }
    article#pag2 {
        position: relative;
        top: 180px;
    }
}
@media screen and (min-width: 1135px){
    div.img1 {
        margin: 0px 25px;
        width: 445px;
    }
    article#pag2 section#bigcards div.img1 iframe {
        width: 445px;
    }
}