:root {
    --laranja: #DF5025;
    --roxo: #3B05EF;
    --azul: #1303E4;
    --amarelo-claro: #eeff00ee;
    --amarelo-escuro: #c99300;
    --gradient: linear-gradient(
        to right,
        var(--laranja),
        var(--roxo),
        var(--amarelo-escuro)
    );
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0cm;
    margin: 0cm;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 1.3;
    scroll-behavior: smooth;
    max-width: 98.5vw;
}
html, body{
    height: 230vh;
    width: 100vw;
}
            /* Logo */

header { 
    display: grid;
    text-align: left;
    position: relative;
    height: 100px;
    padding: 33px;
    margin: 0 5vw;
}
header h1 {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 4.5em;
}
header h1:hover {
    cursor: default;
}
header nav.opções {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50px;
    right: 0;
}

            /* Botão mobile */
.primeiromenu, .segundomenu{
    display: none;
    justify-self: right;
}
.nav-item a {
    color: black;
    font-size: 1.2em;
    font-weight: 600;
}
.nav-item a:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
}
.main a {
    border-bottom: 3px solid rgb(99, 115, 255);
}
            /* Menu */

.open {
    display: block;
    justify-content: center;
    padding: 20px;
    width: 200px;
    height: 150px;
    background-color: #F0F0F0;
    border-radius: 50px 0px 20px 50px;
    transform: translate(-22px, -75px);
}
div.primeiromenu ul, div.segundomenu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}
div.primeiromenu li, div.segundomenu li{
    padding-bottom: 1em;
}
header nav.opções div.mobile-menu-icon {
    display: none;
}
header nav.opções div.mobile-menu-icon button img {
    min-width: 50px;
}

header nav.opções div.mobile-menu-icon button {
    justify-items: center;
    transform: translate(0, -13px);
    border: none;
    border-radius: 20px;
}
header nav.opções div.mobile-menu-icon button.aberto {
    border-radius: 0 20px 20px 0;
}

            /* Menu pag3 */

article#pag3 .open{
    display: block;
    justify-content: center;
    padding: 20px;
    width: 200px;
    height: 150px;
    background-color: #F0F0F0;
    border-radius: 50px 0px 20px 50px;
    border: solid 3px #cacaca;
    border-top: none;
    border-right: none;
    transform: translate(-22px, 19px);
}
#pag3 header nav.opções div.aberto button {
    border-radius: 0 20px 20px 0;
}
.main1 a, .m3 a{
    border-bottom: 3px solid rgb(120, 156, 255);
}
.main2:hover a, .main3:hover a{
    border-bottom: 3px solid rgb(255, 255, 255);
    margin-bottom: 12px;
}
article#pag3 nav a {
    color: #000;
}
article#pag3 nav div a:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
    margin-bottom: 12px;
}

            /* Main */

nav > div {
    display: inline-block;
    margin: 15px;
    margin-right: 0px;
    padding-right: 15px;
    font-size: 1.3em;
    font-weight: 650;
}

            /* Tela 1 */

section#fundo {
    background-image: var(--gradient);
    background-size: 500% 100%;
    position: absolute;
    width: 100vw;
    min-height: 1177px;
    
    animation: background 7s infinite alternate ease-in-out;
}
@keyframes background {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

main h1 {
    margin: 15px;
    font-size: 2.7em;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
}
main p {
    margin: 15px;
}
body > main > article > div#info {
    padding: 10px;
    border-radius: 30px;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    left: 20%;
    top: 50px;
    text-align: left;
}
body main div.botão input {
    position: absolute;
    padding: 13px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.534); 
    font-weight: bold;
    font-size: 1.3em;
    color: #000;
    transition: transform .2s;
    justify-self: center;
}

div.botão input:hover {
    position: absolute;
    transform: translate(0px, -4px);
    border: 2px solid rgb(61, 61, 61) ;
    transition: transform .3s, border .2s;
    cursor: pointer;
}

section#cards {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 100px 30% 0px 10%;
    transform: translateY(130px);
}
section#cards div {
    display: inline-block;
    height: 200px;
    margin-left: 5%;
    text-align: center;
    border: 1px solid rgba(148, 148, 148, 0.39);
    border-radius: 50px;
    box-shadow: -3px 3px 5px 0px rgb(0 0 0 / 40%);
    transition: transform .3s, box-shadow .3s;
}
section#cards div:hover {
    position: relative;
    transform: translate(5px, -5px);
    box-shadow: -8px 8px 5px rgba(97, 97, 97, 0.733);
    transition: transform .4s, box-shadow .4s;
}
section#cards img {
    position: relative;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50px;
}
            /* Tela 2 */

article#pag2 {
    position: relative;
    top: 200px;
    width: 99vw;
    height: auto;
    background-color: rgb(72, 49, 204);
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.438);
    border-radius: 150px 0px;
}
article#pag2 section#bigcards{
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
article#pag2 > h1 {
    padding: 65px 0px 25px 0px;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.568);
}
article#pag2 > section#bigcards > div {
    height: 100vh;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 25%);
}

article#pag2 > section#bigcards h1 {
    color: #fff;
    display: block;
}
article#pag2 > section#bigcards > div h3 {
    color: #ffff;
    padding: 20px 30px;
    display: block;
    font-weight: 600;
}

article#pag2 section#bigcards div.img1 {
    border-radius: 34px;
    position: relative;
}

article#pag2 section#bigcards div.img1 iframe {
    width: 445px;
    height: 500px;
    border-radius: 34px;
}
article#pag2 section#bigcards div#html{
    background-color: var(--laranja);
    height: 700px;
    align-content: center;
    margin: 40px;
}

div.imgs {
    display: flex;
    width: 485px;
    flex-direction: column;
}
article#pag2 section#bigcards div#css {
    background: linear-gradient(#3B05EF, #1303E4);
    height: 700px;
    margin: 40px;
}
article#pag2 section#bigcards div.imgs a > img {
    width: 100%;
    height: 500px;
}
article#pag2 section#bigcard{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
article#pag2 section#bigcard > div#js{
    width: 70vw;
    height: 100%;
    border-radius: 30px;
    padding: 30px 0px 50px 0px;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #eeff00ee, #e7a900);
    position: static;
    cursor: move;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.164);
}

input#botgit  {
    color: #000;
    background-color: #fff;
    padding: 15px;
    margin: 30px 0px 70px 0px;
    font-size: 1.3em;
    font-weight: 700;
    border-radius: 10px;
    transition: transform .3s, border .4s;
}
input#botgit:hover {
    transform: translate(0px, -5px);
    border: 2px 4solid purple ;
    transition: transform .4s, border .4s;
    cursor: pointer;
}
            /* Tela 3 */

article#pag3 {
    margin-top: 200px;
    width: 99vw;
    height: 1300px;
    position: initial;
    background-color: rgb(255, 255, 255)
}
article#pag3 > section > div{

    
}