* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0cm;
    margin: 0cm;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 1.3;

}
html, body{
    height: 230vh;
    width: 100vw;
}
            /* Header */

header { 
    display: flex;
    text-align: left;
    position: relative;
    width: 97;
    height: 100px;
    padding: 33px;
    margin: 0 5vw;
}
header h1 {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 4.5em;
}
header h1:hover {
    cursor: default;
}
header section.opções {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    position: absolute;
    top: 50px;
    right: 0;
}
header > section > div {
    display: inline-block;
    margin: 15px;
    margin-right: 0px;
    padding-right: 15px;
    font-size: 1.3em;
    font-weight: 600;
}
header > section > div:hover {
    cursor: default;
    border-bottom: 3px solid rgb(255, 255, 255);
    margin-bottom: 12px;

}
            /* Main Tela 1 */

section#fundo {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    position: absolute;
    min-width: 99vw;
    min-height: 1177px;
}

main h1 {
    margin: 15px;
    font-size: 2.7em;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
}
main p {
    margin: 15px;
}
body > main > article > div#info {
    padding: 10px;
    border-radius: 30px;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    left: 13%;
    top: 50px;
    text-align: left;
}
body main div.botão input {
    position: absolute;
    padding: 13px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.534); 
    font-weight: bold;
    font-size: 1.3em;
    color: #000;
    transition: transform .2s;
}

div.botão input:hover {
    position: absolute;
    transform: translate(0px, -4px);
    border: 2px solid purple ;
    transition: transform .3s, border .2s;
    cursor: pointer;
}

section#cards {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 100px 30% 0px 10%;
    transform: translateY(130px);
}
section#cards div {
    display: inline-block;
    height: 200px;
    margin-left: 5%;
    text-align: center;
    border: 1px solid rgba(148, 148, 148, 0.39);
    border-radius: 50px;
    box-shadow: -3px 3px 5px 0px rgb(0 0 0 / 40%);
    transition: transform .3s, box-shadow .3s;
}
section#cards div:hover {
    position: relative;
    transform: translate(5px, -5px);
    box-shadow: -8px 8px 5px rgba(97, 97, 97, 0.733);
    transition: transform .4s, box-shadow .4s;
}
section#cards img {
    position: relative;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50px;
}
            /* Main Tela 2 */

article#pag2 {
    position: relative;
    top: 200px;
    width: 99vw;
    height: auto;
    background-color: rgb(72, 49, 204);
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.438);
    border-radius: 150px 0px;
}
article#pag2 section#bigcards{
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
article#pag2 > h1 {
    padding: 65px 0px 25px 0px;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.568);
}
article#pag2 > section#bigcards > div {
    height: 100vh;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 25%);
}

article#pag2 > section#bigcards h1 {
    color: #fff;
    display: block;
}
article#pag2 > section#bigcards > div h3 {
    color: #ffff;
    padding: 30px;
    display: block;
    font-weight: 600;
}

article#pag2 section#bigcards div.img1 {
    border-radius: 34px;
    position: relative;
}

article#pag2 section#bigcards div.img1 iframe {
    width: 445px;
    height: 500px;
    border-radius: 34px;
}
article#pag2 section#bigcards div#html{
    background-color: rgba(255, 81, 0, 0.658);
    height: 700px;
    align-content: center;
    margin: 40px;
}

div.imgs {
    display: flex;
    width: 485px;
    flex-direction: column;
}
article#pag2 section#bigcards div#css {
    background: linear-gradient(#3B05EF, #1303E4);
    height: 700px;
    margin: 40px;
}
article#pag2 section#bigcards div.imgs a > img {
    width: 100%;
    height: 500px;
}
article#pag2 section#bigcard{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
article#pag2 section#bigcard > div#js{
    width: 70vw;
    height: 100%;
    border-radius: 30px;
    padding: 30px 0px 50px 0px;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(238, 255, 0, 0.932), rgb(231, 169, 0));
    position: static;
    cursor: move;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.164);
}

input#botgit  {
    color: #000;
    background-color: #fff;
    padding: 15px;
    margin: 30px 0px 70px 0px;
    font-size: 1.3em;
    font-weight: 700;
    border-radius: 10px;
    transition: transform .3s, border .4s;
}
input#botgit:hover {
    transform: translate(0px, -5px);
    border: 2px 4solid purple ;
    transition: transform .4s, border .4s;
    cursor: pointer;
}

article#pag3 > section {
    width: 99vw;
    height: 1300px;
    position: initial;
    padding-top: 180px;
    background-color: rgb(255, 255, 255)
}
article#pag3 > section > div{
    background-color: #1303E4;
    
}